@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
.interlineado {
  line-height: 0.6cm;
}

a:any-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

.link-negro {
  color: black;
  text-align: left;
}

.logo {
  width: 400px;
  height: 110px;
  padding: 1px 1px 8px 1px;
}

.centrar {
  text-align: center;
}

.lista-menu {
  text-align: start;
}

.about {
  padding: 8px;
  text-align: justify;
}

ol {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#grid {
  display: grid;
  grid-template-areas: "header header" "nav articulo" "nav articulo2" "footer footer";
  grid-template-rows: 100px 1fr 1fr 25px;
  grid-template-columns: 10% 90%;
  grid-row-gap: 1px;
  grid-column-gap: 8px;
  height: 100vh;
  margin: 0;
}

.border {
  border: 1px solid black;
}

header {
  grid-area: header;
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: rgb(245, 245, 245);
  text-align: center;
}

section#productos {
  grid-area: articulo2;
}

section#servicios {
  grid-area: articulo;
}

body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/pirelli-prod/driver/7568_Pzero_Slide.jpg);
  background-position: -80px;
}

#articulo2 {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

#articulo {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.img {
  width: 380px;
  height: 290px;
}

/* flex */
/*
.menu-flex{
    display: flex;
    flex-flow: column wrap;
    justify-content:space-evenly;
    margin: 5px 5px 5px -25px;
}
*/
.contact-flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
  width: 80%;
  padding: 5px;
  margin: 5px;
}

.form-flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
}

/** SMARTPHONE  */
/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "nav" "articulo" "articulo2" "footer";
    grid-template-rows: 100px 1fr 1fr 1fr 25px;
    grid-template-columns: 90%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    height: 100vh;
    width: 98%;
    margin: 1px 1px 3px 20px;
  }
}
* {
  text-align: center;
}

.border {
  border: 1px solid black;
}

header {
  grid-area: header;
  text-align: center;
}

footer {
  color: rgb(102, 255, 0);
  font-weight: bold;
  background-color: black;
}

section#productos {
  grid-area: articulo2;
}

section#servicios {
  grid-area: articulo;
}

.logo {
  width: 250px;
  height: 100px;
}

#articulo2 {
  background-color: rgb(255, 255, 255);
  text-align: justify;
}

#articulo {
  background-color: rgb(255, 255, 255);
  text-align: justify;
}

.img {
  margin: 1px 1px 1px 90px;
  width: 250px;
  height: 200px;
}

.centrar {
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  margin: 12px 2px 12px 2px;
}

ol {
  display: flex;
  text-decoration: underline black;
  margin: 5px;
}

body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/pirelli-prod/driver/7568_Pzero_Slide.jpg);
  background-repeat: initial;
}

/* Desktop */
@media (min-width: 1024px) {
  footer {
    color: rgb(233, 39, 39);
    font-weight: bold;
    background-color: black;
  }
  .img {
    width: 500px;
    height: 70vh;
    margin: 5px 5px 5px 30%;
  }
  #articulo2 {
    padding: 20px;
  }
  .centrar {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "nav" "articulo" "articulo2" "footer";
    grid-template-rows: 100px 1fr 1fr 1fr 25px;
    grid-template-columns: 90%;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    height: 100vh;
    width: 100%;
    margin: 1px 1px 3px 9px;
  }
  * {
    text-align: center;
    font-size: 14px;
  }
  .border {
    border: 1px solid black;
  }
  header {
    grid-area: header;
    text-align: center;
  }
  footer {
    grid-area: footer;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    height: 40px;
    color: rgb(0, 195, 255);
  }
  section#productos {
    grid-area: articulo2;
  }
  section#servicios {
    grid-area: articulo;
  }
  #articulo2 {
    background-color: rgb(255, 255, 255);
    text-align: justify;
  }
  #articulo {
    background-color: rgb(255, 255, 255);
    text-align: justify;
  }
  fieldset {
    width: 90%;
    text-align: center;
    margin: 9.9px;
  }
  .img {
    margin: 1px 1px 1px 30px;
    width: 150px;
    height: 140px;
  }
  .logo {
    width: 200px;
    height: 100px;
  }
  ol {
    text-decoration: underline black;
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
  }
}
.animacion:hover {
  height: min-content;
  border: solid black;
  border-radius: 10%;
}

.gradiente {
  background-image: linear-gradient(120deg, rgb(179, 54, 37) 50%, rgb(0, 0, 0) 70%);
  margin: 2px 1px 10px 1px;
  padding: 5px;
  color: whitesmoke;
}

.transicion {
  transition: all 0.5s;
  text-decoration: underline;
}

.transicion:hover {
  width: 40%;
  height: 25px;
  background-color: black;
  color: white;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.8s ease-out 0.2s;
  animation: scale-up-center 0.5s ease-out 0.1s;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=gridsarea.css.map */
