@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
.interlineado {
  line-height: 0.6cm;
}

.parent {
  text-align: center;
}

.margen-redes {
  margin: 5px 2px -90px -928px;
}

.logo {
  width: 400px;
  height: 110px;
  padding: 1px 1px 8px 1px;
  margin: 5px 5px 5px 5px;
}

.centrar {
  text-align: center;
}

.about {
  padding: 8px;
  text-align: justify;
}

#grid {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-rows: 100px 1fr 1fr 25px;
  grid-template-columns: 10% 90%;
  grid-row-gap: 2px;
  grid-column-gap: 5px;
  height: 100vh;
  margin: 45px 2px 1px 2px;
}

.border {
  border: 1px solid black;
}

header {
  grid-area: header;
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: rgb(245, 245, 245);
  text-align: center;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/pirelli-prod/driver/7568_Pzero_Slide.jpg);
  background-position: -80px;
}

.img {
  width: 380px;
  height: 290px;
}

/* flex */
.contact-flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
  width: 80%;
  padding: 5px;
  margin: 5px;
}

.form-flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
}

.texto-carrusel {
  margin: 10px 2px 2px 2px;
}

.boton {
  padding: 21px;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

* {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-rows: 100px 1fr 1fr 25px;
  grid-template-columns: 10% 90%;
  grid-row-gap: 2px;
  grid-column-gap: 5px;
  height: 100vh;
  margin: 45px 2px 1px 2px;
  padding: 5px;
}

.border {
  border: 1px solid black;
}

header {
  grid-area: header;
  text-align: center;
}

footer {
  color: rgb(102, 255, 0);
  font-weight: bold;
  background-color: black;
}

.logo {
  width: 250px;
  height: 100px;
}

#articulo2 {
  background-color: rgb(255, 255, 255);
  text-align: justify;
}

#articulo {
  background-color: rgb(255, 255, 255);
  text-align: justify;
}

.img {
  margin: 1px 1px 1px 90px;
  width: 250px;
  height: 200px;
}

h1, h2, h3, h4 {
  font-size: 18px;
  font-weight: bold;
}

body {
  background-image: url(https://s3-eu-west-1.amazonaws.com/pirelli-prod/driver/7568_Pzero_Slide.jpg);
  background-repeat: initial;
}

/* Desktop */
@media (min-width: 1024px) {
  footer {
    color: rgb(233, 39, 39);
    font-weight: bold;
    background-color: black;
  }
  nav button {
    margin: 5px 1200px 5px 5px;
  }
  .img {
    width: 420px;
    height: 58vh;
  }
  section {
    padding: 0px 10px 5px 10px;
  }
  .logo {
    width: 400px;
    height: 110px;
    border-style: none;
  }
  .imagen-redes {
    width: 620px;
    height: 70vh;
    margin: 10px 2px 2px 320px;
  }
  .container {
    margin: 20px 10px 10px 30px;
  }
}
/* RESPONSIVE */
/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-rows: 100px 1fr 1fr 1fr 25px;
    grid-template-columns: 90%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    height: 100vh;
    width: 98%;
    margin: 50px 1px 3px 20px;
  }
  .imagen-redes {
    margin: 1px 1px 1px 30px;
    width: 350px;
    height: 240px;
  }
}
/** SMARTPHONE  */
@media (max-width: 480px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-rows: 100px 1fr 1fr 1fr 25px;
    grid-template-columns: 90%;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    height: 100vh;
    width: 100%;
    margin: 1px 1px 3px 9px;
  }
  * {
    text-align: center;
    font-size: 14px;
  }
  .border {
    border: 1px solid black;
  }
  header {
    grid-area: header;
    text-align: center;
  }
  footer {
    grid-area: footer;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    height: 40px;
    color: rgb(0, 195, 255);
  }
  fieldset {
    width: 90%;
    text-align: center;
    margin: 9.9px;
  }
  .img {
    margin: 1px 1px 1px 30px;
    width: 150px;
    height: 140px;
  }
  .logo {
    width: 200px;
    height: 100px;
  }
  ol {
    text-decoration: underline black;
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
  }
  .imagen-redes {
    margin: 1px;
    width: 200px;
    height: 60vh;
  }
}
/* animaciones */
.animacion:hover {
  border: solid black;
  border-radius: 10%;
}

.gradiente {
  background-image: linear-gradient(120deg, rgb(180, 13, 13) 50%, rgb(0, 0, 0) 70%);
  margin: 2px 1px 10px 1px;
  padding: 5px;
  color: whitesmoke;
}

.transicion {
  transition: all 0.5s;
  text-decoration: underline;
}

.transicion:hover {
  width: 8%;
  cursor: help;
  text-align: start;
  height: 25px;
  background-color: black;
  color: white;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.8s ease-out 0.2s;
  animation: scale-up-center 0.5s ease-out 0.1s;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* anidamiento a: */
a:any-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:any-link:hover {
  color: rgb(255, 0, 0);
}

/***EXTEND y anidamiento ***/ /*esta en la pagina contact*/
.boton-azul, .boton-youtube, .boton-twitter, .boton-facebook, .boton-verde {
  height: 50px;
  min-width: 160px;
  color: #fff;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3a86ff;
  margin: 2px 2px 20px 2px;
}
.boton-azul:hover, .boton-youtube:hover, .boton-twitter:hover, .boton-facebook:hover, .boton-verde:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.boton-azul:after, .boton-youtube:after, .boton-twitter:after, .boton-facebook:after, .boton-verde:after {
  opacity: 1;
  right: 10px;
}
.boton-azul:after, .boton-youtube:after, .boton-twitter:after, .boton-facebook:after, .boton-verde:after {
  content: "»";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.boton-verde {
  background-color: green;
  height: 50px;
  min-width: 160px;
}

/* MIXIN */
.imagen {
  width: 420px;
  height: 30vh;
}

/* Maps */
.boton-twitter {
  background-color: rgb(0, 140, 255);
}

.boton-facebook {
  background-color: blue;
}

.boton-youtube {
  background-color: red;
}

/*# sourceMappingURL=gridsarea.css.map */
