

* {margin:0;
    font-family: 'Poppins', sans-serif;
    padding:0;
    box-sizing: border-box;
    }
/* ESTILOS GENERALES */

.interlineado {
    line-height: 0.6cm;
}

.margen-redes {margin: 5px 2px -90px -928px;}


.logo {
    width:400px;
    height:110px;
    padding: 1px 1px 8px 1px;
    margin: 5px 5px 5px 5px;
    }

    .centrar {text-align:center}



    .about{
        padding:8px;
        text-align: justify;
    }



ol {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;}



#grid {
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    grid-template-rows: 100px 1fr 1fr 25px; 
    grid-template-columns: 10% 90%;
    grid-row-gap: 2px;
    grid-column-gap: 5px;
    height: 100vh;

    margin: 45px 2px 1px 2px;	
}
.border {
    border: 1px solid black;
}


header {
    grid-area: header;
    text-align: center;
}
footer {
    grid-area: footer;
    background-color: rgb(245, 245, 245);
    text-align: center;
}
main {
    grid-area: main; 
}

nav {grid-area: nav;}


body{
    background-image: url(https://s3-eu-west-1.amazonaws.com/pirelli-prod/driver/7568_Pzero_Slide.jpg);
    background-position: -80px;
    }


.img {width:380px;
    height: 290px;}

/* flex */ 


.contact-flex  {
    display: flex;
    justify-content: center;
    flex-flow:column;
    align-items: flex-start;
    width:80%;
    padding: 5px;
    margin: 5px;
}

.form-flex {
    display: flex;
    justify-content: center;
    flex-flow:column;
    align-items: flex-start;
}

.texto-carrusel {margin: 10px 2px 2px 2px}

.boton {padding: 21px;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "responsive";
@import "animaciones";
@import "sass2";


